Repository kamaD-y/dcp-ops-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: npx biome check, npm run test:cdk, sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): 設定フォルダ名をsettingsからconfigに修正
  lambda/etl/src/config/settings.py
  lambda/etl/src/domain/extraction.py
  lambda/etl/src/domain/notification.py
  lambda/etl/src/domain/transform.py
  lambda/etl/src/handler.py
  lambda/etl/src/infrastructure/aws/s3.py
  lambda/etl/src/infrastructure/aws/sns.py
  lambda/etl/src/infrastructure/aws/ssm.py
  lambda/etl/src/infrastructure/scraping/nrk_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(notification): 設定フォルダ名をsettingsからconfigに修正
  lambda/notification/src/config/settings.py
  lambda/notification/src/domain/factory.py
  lambda/notification/src/handler.py
  lambda/notification/src/infrastructure/aws/logs.py
  lambda/notification/src/infrastructure/notification/line_notification_impl.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): extractionをapplications層へ移行
  lambda/etl/src/application/etl.py
  lambda/etl/src/application/extraction.py
  lambda/etl/tests/application/test_etl.py
  lambda/etl/tests/application/test_extraction.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): transformをapplications層へ移行
  lambda/etl/src/application/etl.py
  lambda/etl/src/application/transform.py
  lambda/etl/tests/application/conftest.py
  lambda/etl/tests/application/test_transform.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): notificationをapplications層へ移行
  lambda/etl/src/application/etl.py
  lambda/etl/src/application/notification.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): インポートパスを絶対パスに修正
  lambda/etl/src/application/etl.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

test(etl): conftestの階層修正
  lambda/etl/tests/application/conftest.py
  lambda/etl/tests/conftest.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): extractionの構成をリファクタリング
  lambda/etl/src/application/extraction.py
  lambda/etl/src/domain/interface.py
  lambda/etl/src/infrastructure/scraping/nrk_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

test(etl): extraction構成リファクタリングに伴うテスト修正
  lambda/etl/tests/application/test_extraction.py
  lambda/etl/tests/infrastructure/scraping/conftest.py
  lambda/etl/tests/infrastructure/scraping/test_nrk_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): リファクタリング時の修正忘れ
  lambda/etl/src/application/extraction.py
  lambda/etl/src/domain/interface.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): _scrapeのレスポンス修正
  lambda/etl/src/application/extraction.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

test(etl): tag_elementsのテスト追加
  lambda/etl/tests/infrastructure/scraping/test_nrk_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

test(etl): scraping用conftest改善
  lambda/etl/tests/infrastructure/scraping/conftest.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

fix(etl): ログイン用パラメータ(login_xx)がNoneの場合ScrapingParamsを引数無しで呼び出すよう修正
  lambda/etl/src/application/extraction.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(etl): LOGIN_PARAMETER_ARN を LOGIN_PARAMETER_NAME に修正
  lambda/etl/src/config/settings.py
  lambda/etl/src/domain/value_object.py
  lambda/etl/tests/domain/test_value_class.py
  lambda/etl/tests/infrastructure/scraping/test_nrk_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(etl): ScrapingParamsロジック修正
  lambda/etl/src/domain/value_object.py
  lambda/etl/tests/domain/test_value_class.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): ScrapingParamsフィールドのいずれかが空の場合、ValueErrorが発生するよう修正
  lambda/etl/src/domain/value_object.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): transformerクラスのメソッド名修正
  lambda/etl/src/application/etl.py
  lambda/etl/src/application/transform.py
  lambda/etl/tests/application/test_transform.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): transformのリファクタ
  lambda/etl/src/application/transform.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): Docstringのexample修正
  lambda/etl/src/application/transform.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): DocStringの型修正
  lambda/etl/src/application/transform.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): 受取額計算の修正
  lambda/etl/src/application/transform.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): 年数計算メソッドのリファクタ
  lambda/etl/src/application/transform.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): settingsファイル移動
  lambda/etl/src/application/extraction.py
  lambda/etl/src/application/notification.py
  lambda/etl/src/application/transform.py
  lambda/etl/src/domain/value_object.py
  lambda/etl/src/handler.py
  lambda/etl/src/infrastructure/aws/s3.py
  lambda/etl/src/infrastructure/aws/sns.py
  lambda/etl/src/infrastructure/aws/ssm.py
  lambda/etl/src/infrastructure/scraping/nrk_scraping.py
  lambda/etl/src/settings.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(notification): settingsファイル移動
  lambda/notification/src/domain/factory.py
  lambda/notification/src/handler.py
  lambda/notification/src/infrastructure/aws/logs.py
  lambda/notification/src/infrastructure/notification/line_notification_impl.py
  lambda/notification/src/settings.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

chore: BaseSettings継承クラス呼び出し時に引数がない場合にmypyがエラーと認識しないようプラグインを追加
  pyproject.toml
Due: none

refactor(etl): settingsの型を厳格化
  lambda/etl/pyproject.toml
  lambda/etl/src/settings.py
  lambda/etl/uv.lock
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(notification): Settingsのリファクタ
  lambda/notification/src/settings.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

chore: gitignore
  .gitignore
Due: none

chore: type-check追加
  .github/workflows/ci.yml
  lefthook.yml
  package.json
Due: none

chore: mypy-type-checkerを削除
  .vscode/extensions.json
  .vscode/settings.sample.json
Due: none

fix(etl): Pydantic関連のエラーを除外
  lambda/etl/src/settings.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): login_parameter_name設定手順修正
  lambda/etl/src/application/extraction.py
  lambda/etl/src/domain/value_object.py
  lambda/etl/tests/domain/test_value_class.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

fix(etl): type誤りを修正
  lambda/etl/src/application/extraction.py
  lambda/etl/src/infrastructure/aws/s3.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

chore: pythonファイルに対するglobパターンをlambda/配下となるよう修正
  lefthook.yml
Due: none

refactor(etl): 意図を明記する為TODOコメント修正
  lambda/etl/src/settings.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

fix(etl): login用パラメータストアをARNからName使用に修正
  lib/dcp-ops-monitor-stack.ts
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
Due: npx biome check, npm run test:cdk

chore: mcp.example.json追加
  .amazonq/mcp.example.json
  .gitignore
Due: none

test: docker-composeでLocalStackを使用する
  .env.example
  .gitignore
  docker-compose.yaml
  localstack/ready.sh
Due: none

docs: format
  README.md
Due: none

Path conditions:
  npx biome check: any of: **/*.{ts,tsx}
  npm run test:cdk: any of: **/*.{ts,tsx}
  sh -c 'uvx ruff check --no-fix': any of: **/*.py
  sh -c 'uvx ruff format --check': any of: **/*.py
  sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1': any of: **/*.py
