Repository kamaD-y/dcp-ops-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: npx biome check, npm run test:cdk, sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

docs: サマリ通知機能をアーキテクチャ図に反映
  docs/dcp-ops-monitor.drawio.png
Due: none

docs: エラー通知機能のアーキテクチャ変更を反映
  README.md
  docs/dcp-ops-monitor.drawio.png
  docs/development-guidelines.md
  docs/functional-design.md
  docs/product-requirements.md
Due: none

chore: CIワークフローへ変更を反映
  .github/workflows/ci.yml
Due: none

fix: パス修正
  .github/workflows/ci.yml
Due: none

docs: コードブロックに言語指定追加
  docs/development-guidelines.md
Due: none

refactor(lambda): shared パッケージ作成と uv workspace セットアップ
  .gitignore
  lambda/pyproject.toml
  lambda/shared/pyproject.toml
  lambda/shared/src/shared/__init__.py
  lambda/shared/src/shared/config/__init__.py
  lambda/shared/src/shared/config/base_settings.py
  lambda/shared/src/shared/domain/__init__.py
  lambda/shared/src/shared/domain/asset_object.py
  lambda/shared/src/shared/infrastructure/__init__.py
  lambda/shared/src/shared/infrastructure/ssm_parameter.py
  lambda/summary-notification/pyproject.toml
  lambda/summary-notification/uv.lock
  lambda/uv.lock
  lambda/web-scraping/pyproject.toml
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(web-scraping): 共通コードを shared パッケージに移行
  lambda/web-scraping/src/config/settings.py
  lambda/web-scraping/src/domain/extraction_object.py
  lambda/web-scraping/src/infrastructure/__init__.py
  lambda/web-scraping/src/infrastructure/ssm_parameter.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(summary-notification): 共通コードを shared パッケージに移行
  lambda/summary-notification/src/config/settings.py
  lambda/summary-notification/src/domain/__init__.py
  lambda/summary-notification/src/domain/asset_interface.py
  lambda/summary-notification/src/domain/asset_object.py
  lambda/summary-notification/src/infrastructure/__init__.py
  lambda/summary-notification/src/infrastructure/ssm_parameter.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(cdk): バンドリング方式を workspace 対応に変更
  lambda/web-scraping/Dockerfile
  lib/dcp-ops-monitor-stack.ts
  package-lock.json
  package.json
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
Due: npx biome check, npm run test:cdk

fix: workspace除外フラグを追加
  lambda/web-scraping/Dockerfile
Due: none

chore: Dockerfileビルドステージで不要な変更の影響を受けないよう修正
  lambda/web-scraping/Dockerfile
Due: none

chore: lefthook の glob に shared パッケージを追加
  lefthook.yml
Due: none

docs: shared パッケージと uv workspace の構成をドキュメントに反映
  CLAUDE.md
  docs/functional-design.md
Due: none

refactor(web-scraping): IObjectRepository を IArtifactRepository にリネーム
  lambda/summary-notification/src/config/settings.py
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/config/settings.py
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/artifact_interface.py
  lambda/web-scraping/src/domain/storage_interface.py
  lambda/web-scraping/src/infrastructure/__init__.py
  lambda/web-scraping/src/infrastructure/s3_artifact_repository.py
  lambda/web-scraping/src/presentation/asset_collection_handler.py
  lambda/web-scraping/tests/conftest.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

docs: インターフェース設計セクション更新
  docs/functional-design.md
Due: none

feat(shared): AssetRecord, IAssetRecordRepository, AssetRecordError を追加
  lambda/shared/src/shared/domain/asset_record_interface.py
  lambda/shared/src/shared/domain/asset_record_object.py
  lambda/shared/src/shared/domain/exceptions.py
  lambda/web-scraping/tests/domain/__init__.py
  lambda/web-scraping/tests/domain/test_asset_record_object.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(web-scraping): IScraper 戻り値変更・save_assets 削除
  lambda/web-scraping/pyproject.toml
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/artifact_interface.py
  lambda/web-scraping/src/domain/extraction_object.py
  lambda/web-scraping/src/domain/scraping_interface.py
  lambda/web-scraping/src/infrastructure/s3_artifact_repository.py
  lambda/web-scraping/src/infrastructure/selenium_scraper.py
  lambda/web-scraping/src/presentation/asset_collection_handler.py
  lambda/web-scraping/tests/fixtures/mocks/mock_selenium_scraper.py
  lambda/web-scraping/tests/presentation/test_asset_collection_handler.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(shared): DcpAssets を summary-notification にローカル化
  lambda/shared/src/shared/domain/asset_object.py
  lambda/summary-notification/src/domain/__init__.py
  lambda/summary-notification/src/domain/asset_interface.py
  lambda/summary-notification/src/domain/asset_object.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

feat(web-scraping): GoogleSheetAssetRecordRepository を実装
  lambda/uv.lock
  lambda/web-scraping/pyproject.toml
  lambda/web-scraping/src/infrastructure/__init__.py
  lambda/web-scraping/src/infrastructure/google_sheet_asset_record_repository.py
  lambda/web-scraping/tests/infrastructure/__init__.py
  lambda/web-scraping/tests/infrastructure/test_google_sheet_asset_record_repository.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(web-scraping): Presentation 層に資産レコード保存処理を追加
  lambda/web-scraping/pyproject.toml
  lambda/web-scraping/src/config/settings.py
  lambda/web-scraping/src/handler.py
  lambda/web-scraping/src/presentation/asset_collection_handler.py
  lambda/web-scraping/tests/fixtures/mocks/__init__.py
  lambda/web-scraping/tests/fixtures/mocks/mock_asset_record_repository.py
  lambda/web-scraping/tests/presentation/test_asset_collection_handler.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(cdk): web-scraping Lambda にスプレッドシート SSM パラメータを追加
  bin/dcp-ops-monitor.ts
  lib/dcp-ops-monitor-stack.ts
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
  test/cdk/dcp-ops-monitor-stack.test.ts
Due: npx biome check, npm run test:cdk

chore: docker-composeで発生するエラー対応
  docker-compose.yaml
  localstack/ready.sh
Due: none

improve(shared): ファクトリメソッドをクラスメソッドへ修正
  lambda/shared/src/shared/domain/asset_record_object.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

docs: 機能設計書を資産蓄積方式の見直しに合わせて更新
  docs/functional-design.md
Due: none

test(web-scraping): 不要なInput削除とケースに沿ったassert追加
  lambda/web-scraping/pyproject.toml
  lambda/web-scraping/tests/infrastructure/test_google_sheet_asset_record_repository.py
  lambda/web-scraping/tests/presentation/test_asset_collection_handler.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

chore: 環境変数追加
  .env.example
Due: none

test(web-scraping): 価値の低いテストコードを削除
  lambda/web-scraping/pyproject.toml
  lambda/web-scraping/tests/infrastructure/test_google_sheet_asset_record_repository.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(summary-notification): 資産情報取得元を S3 から Google Spreadsheet に変更
  lambda/shared/src/shared/config/base_settings.py
  lambda/summary-notification/pyproject.toml
  lambda/summary-notification/src/config/settings.py
  lambda/summary-notification/src/domain/exceptions.py
  lambda/summary-notification/src/infrastructure/__init__.py
  lambda/summary-notification/src/infrastructure/google_sheet_asset_repository.py
  lambda/summary-notification/src/infrastructure/s3_asset_repository.py
  lambda/summary-notification/src/presentation/summary_notification_handler.py
  lambda/summary-notification/tests/conftest.py
  lambda/summary-notification/tests/fixtures/mocks/mock_asset_repository.py
  lambda/summary-notification/tests/infrastructure/test_s3_asset_repository.py
  lambda/summary-notification/tests/presentation/test_summary_notification_handler.py
  lambda/uv.lock
  lambda/web-scraping/src/config/settings.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(cdk): summary-notification の S3 依存を除去し SSM スプレッドシート設定を追加
  lib/dcp-ops-monitor-stack.ts
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
Due: npx biome check, npm run test:cdk

improve(summary-notification): カラム取得方法修正
  lambda/summary-notification/src/infrastructure/google_sheet_asset_repository.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(summary-notification): batch_getの結果が空の場合を考慮
  lambda/summary-notification/src/infrastructure/google_sheet_asset_repository.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

docs: システム構成アップデート
  docs/dcp-ops-monitor.drawio.png
  docs/functional-design.md
Due: none

chore: VSCode拡張機能更新
  .vscode/extensions.json
Due: none

improve(summary-notification): DcpAssetsからtotalフィールドを削除しcalculate_total()を追加
  lambda/summary-notification/src/application/message_formatter.py
  lambda/summary-notification/src/application/summary_notification_service.py
  lambda/summary-notification/src/domain/asset_object.py
  lambda/summary-notification/src/infrastructure/google_sheet_asset_repository.py
  lambda/summary-notification/tests/application/test_message_formatter.py
  lambda/summary-notification/tests/application/test_summary_notification_service.py
  lambda/summary-notification/tests/domain/test_asset_object.py
  lambda/summary-notification/tests/presentation/test_summary_notification_handler.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(summary-notification): DcpOpsIndicatorsからexpected_yield_rateを削除
  lambda/summary-notification/src/application/indicators_calculator.py
  lambda/summary-notification/src/application/message_formatter.py
  lambda/summary-notification/src/domain/indicator_object.py
  lambda/summary-notification/tests/application/test_indicators_calculator.py
  lambda/summary-notification/tests/application/test_message_formatter.py
  lambda/summary-notification/tests/application/test_summary_notification_service.py
  lambda/summary-notification/tests/domain/test_indicator_object.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(summary-notification): 資産評価額推移（直近1週間）を通知に追加
  lambda/summary-notification/src/application/message_formatter.py
  lambda/summary-notification/src/application/summary_notification_service.py
  lambda/summary-notification/src/domain/asset_interface.py
  lambda/summary-notification/src/infrastructure/google_sheet_asset_repository.py
  lambda/summary-notification/tests/application/test_message_formatter.py
  lambda/summary-notification/tests/application/test_summary_notification_service.py
  lambda/summary-notification/tests/fixtures/mocks/mock_asset_repository.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

docs: functional-design.md をサマリ通知の変更に合わせて更新
  docs/functional-design.md
Due: none

refactor(summary-notification): 冗長なコードを見直し
  lambda/summary-notification/src/application/summary_notification_service.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(summary-notification): 週次アセット取得時の例外処理追加
  lambda/summary-notification/src/domain/asset_interface.py
  lambda/summary-notification/src/infrastructure/google_sheet_asset_repository.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

Path conditions:
  npx biome check: any of: **/*.{ts,tsx}
  npm run test:cdk: any of: **/*.{ts,tsx}
  sh -c 'uvx ruff check --no-fix': any of: **/*.py
  sh -c 'uvx ruff format --check': any of: **/*.py
  sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1': any of: **/*.py
