Repository kamaD-y/dcp-ops-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: npx biome check, npm run test:cdk, sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(web-scraping): Extractor 関連コードと AssetExtractionFailed を削除
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/exceptions.py
  lambda/web-scraping/src/domain/extraction_interface.py
  lambda/web-scraping/src/infrastructure/__init__.py
  lambda/web-scraping/src/infrastructure/beautifulsoup_dcp_extractor.py
  lambda/web-scraping/tests/infrastructure/test_beautifulsoup_dcp_extractor.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

chore(web-scraping): beautifulsoup4 依存を削除
  lambda/web-scraping/pyproject.toml
  lambda/web-scraping/uv.lock
Due: none

refactor(web-scraping): extract失敗時のセッション終了処理を追加
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

docs: Scraper修正を反映
  docs/functional-design.md
Due: none

refactor(web-scraping): handler.py から AssetExtractionFailed の残存参照を削除
  docs/development-guidelines.md
  lambda/web-scraping/src/handler.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

docs: コミットルールを追加
  CLAUDE.md
  docs/development-guidelines.md
Due: none

refactor(web-scraping): error_file_key を error_screenshot_key / error_html_key に分離
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/domain/exceptions.py
  lambda/web-scraping/src/handler.py
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper.py
  lambda/web-scraping/tests/fixtures/mocks/mock_selenium_dcp_scraper.py
  lambda/web-scraping/tests/presentation/test_dcp_ops_notification.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(error-notification): error_file_key を error_screenshot_key / error_html_key に分離
  lambda/error-notification/src/application/error_notification_service.py
  lambda/error-notification/src/application/message_formatter.py
  lambda/error-notification/src/domain/error_log_object.py
  lambda/error-notification/tests/application/test_error_notification_service.py
  lambda/error-notification/tests/domain/test_error_log_record.py
  lambda/error-notification/tests/infrastructure/test_cloudwatch_logs_adapter.py
  lambda/error-notification/tests/presentation/test_error_notification_handler.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

docs: error_file_key 分離を機能設計書に反映
  docs/functional-design.md
Due: none

test(error-notification): ファイルキーの存在チェック追加
  lambda/error-notification/tests/infrastructure/test_cloudwatch_logs_adapter.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(web-scraping): アーティファクトアップロード失敗に専用例外を導入
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/exceptions.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(web-scraping): HTML ファイル保存失敗時に warning 出力して処理を継続
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

docs: ArtifactUploadError をエラーハンドリングテーブルに追加
  docs/functional-design.md
Due: none

refactor(web-scraping): 未使用の put_object メソッドを削除
  lambda/web-scraping/src/domain/storage_interface.py
  lambda/web-scraping/src/infrastructure/s3_object_repository.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(web-scraping): ArtifactUploadError を infrastructure 層で raise するよう移動
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/domain/storage_interface.py
  lambda/web-scraping/src/infrastructure/s3_object_repository.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor: 名前付きコンストラクタでSelf型を使用
  lambda/error-notification/src/domain/exceptions.py
  lambda/web-scraping/src/domain/exceptions.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(web-scraping): 例外発生時の詳細を出力
  lambda/web-scraping/src/infrastructure/s3_object_repository.py
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

fix(web-scraping): 不要なインポート削除
  lambda/web-scraping/src/domain/exceptions.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(web-scraping): IDcpScraper を IScraper にリネーム
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/scraping_interface.py
  lambda/web-scraping/src/infrastructure/__init__.py
  lambda/web-scraping/src/infrastructure/selenium_scraper.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
  lambda/web-scraping/tests/fixtures/mocks/__init__.py
  lambda/web-scraping/tests/fixtures/mocks/mock_selenium_scraper.py
  lambda/web-scraping/tests/presentation/test_dcp_ops_notification.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

docs: IScraper リネームに伴うドキュメント更新
  docs/development-guidelines.md
  docs/functional-design.md
Due: none

improve(web-scraping): 責務変更 - データ収集とS3保存に限定
  lambda/web-scraping/pyproject.toml
  lambda/web-scraping/src/application/__init__.py
  lambda/web-scraping/src/application/convert_service.py
  lambda/web-scraping/src/application/message_formatter.py
  lambda/web-scraping/src/application/notification_service.py
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/config/settings.py
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/exceptions.py
  lambda/web-scraping/src/domain/extraction_object.py
  lambda/web-scraping/src/domain/notification_interface.py
  lambda/web-scraping/src/domain/notification_object.py
  lambda/web-scraping/src/domain/storage_interface.py
  lambda/web-scraping/src/handler.py
  lambda/web-scraping/src/infrastructure/__init__.py
  lambda/web-scraping/src/infrastructure/line_notifier.py
  lambda/web-scraping/src/infrastructure/s3_object_repository.py
  lambda/web-scraping/src/presentation/__init__.py
  lambda/web-scraping/src/presentation/asset_collection_handler.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
  lambda/web-scraping/tests/application/test_message_formatter.py
  lambda/web-scraping/tests/conftest.py
  lambda/web-scraping/tests/fixtures/mocks/__init__.py
  lambda/web-scraping/tests/fixtures/mocks/mock_line_notifier.py
  lambda/web-scraping/tests/infrastructure/test_line_notifier.py
  lambda/web-scraping/tests/presentation/test_asset_collection_handler.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(cdk): web-scraping Lambda の責務変更に伴うスタック更新
  lib/dcp-ops-monitor-stack.ts
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
Due: npx biome check, npm run test:cdk

test(web-scraping): 不要なfixture削除
  lambda/web-scraping/tests/conftest.py
  lambda/web-scraping/tests/fixtures/html/invalid_assets_page.html
  lambda/web-scraping/tests/fixtures/html/valid_assets_page.html
  lambda/web-scraping/tests/presentation/test_asset_collection_handler.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

docs: AssetStorageError 削除に伴うドキュメント更新
  docs/functional-design.md
Due: none

refactor(web-scraping): put_json の例外を ArtifactUploadError に統一
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/exceptions.py
  lambda/web-scraping/src/domain/storage_interface.py
  lambda/web-scraping/src/handler.py
  lambda/web-scraping/src/infrastructure/s3_object_repository.py
  lambda/web-scraping/src/presentation/asset_collection_handler.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

docs: ルート README.md を web-scraping 責務変更に合わせて更新
  README.md
Due: none

docs: web-scraping 責務変更に伴う README と CLAUDE.md 更新
  CLAUDE.md
  lambda/web-scraping/README.md
Due: none

chore: S3バケット名更新
  .env.example
  lambda/web-scraping/README.md
  localstack/ready.sh
Due: none

docs: web-scraping 機能の責務変更に伴うドキュメント更新
  docs/functional-design.md
  docs/product-requirements.md
Due: none

chore(web-scraping): 一時的にcoverageを調整
  lambda/web-scraping/pyproject.toml
Due: none

test(web-scraping): 共通処理をユーティリティ関数に抽出
  lambda/web-scraping/tests/presentation/test_asset_collection_handler.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

feat(summary-notification): プロジェクトセットアップと Domain 層を作成
  lambda/summary-notification/pyproject.toml
  lambda/summary-notification/src/__init__.py
  lambda/summary-notification/src/application/__init__.py
  lambda/summary-notification/src/config/__init__.py
  lambda/summary-notification/src/config/settings.py
  lambda/summary-notification/src/domain/__init__.py
  lambda/summary-notification/src/domain/asset_interface.py
  lambda/summary-notification/src/domain/asset_object.py
  lambda/summary-notification/src/domain/exceptions.py
  lambda/summary-notification/src/domain/indicator_object.py
  lambda/summary-notification/src/domain/notification_interface.py
  lambda/summary-notification/src/domain/notification_object.py
  lambda/summary-notification/src/infrastructure/__init__.py
  lambda/summary-notification/src/presentation/__init__.py
  lambda/summary-notification/tests/__init__.py
  lambda/summary-notification/tests/application/__init__.py
  lambda/summary-notification/tests/conftest.py
  lambda/summary-notification/tests/domain/__init__.py
  lambda/summary-notification/tests/domain/test_asset_object.py
  lambda/summary-notification/tests/domain/test_indicator_object.py
  lambda/summary-notification/tests/fixtures/__init__.py
  lambda/summary-notification/tests/fixtures/mocks/__init__.py
  lambda/summary-notification/tests/infrastructure/__init__.py
  lambda/summary-notification/tests/presentation/__init__.py
  lambda/summary-notification/uv.lock
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

feat(summary-notification): Infrastructure 層を実装
  lambda/summary-notification/src/infrastructure/__init__.py
  lambda/summary-notification/src/infrastructure/line_notifier.py
  lambda/summary-notification/src/infrastructure/s3_asset_repository.py
  lambda/summary-notification/src/infrastructure/ssm_parameter.py
  lambda/summary-notification/tests/fixtures/mocks/__init__.py
  lambda/summary-notification/tests/fixtures/mocks/mock_notifier.py
  lambda/summary-notification/tests/infrastructure/test_line_notifier.py
  lambda/summary-notification/tests/infrastructure/test_s3_asset_repository.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

feat(summary-notification): Application 層を実装
  lambda/summary-notification/src/application/__init__.py
  lambda/summary-notification/src/application/indicators_calculator.py
  lambda/summary-notification/src/application/message_formatter.py
  lambda/summary-notification/src/application/summary_notification_service.py
  lambda/summary-notification/tests/application/test_indicators_calculator.py
  lambda/summary-notification/tests/application/test_message_formatter.py
  lambda/summary-notification/tests/application/test_summary_notification_service.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

feat(summary-notification): Presentation 層と Lambda Handler を実装
  lambda/summary-notification/src/handler.py
  lambda/summary-notification/src/presentation/__init__.py
  lambda/summary-notification/src/presentation/summary_notification_handler.py
  lambda/summary-notification/tests/application/test_summary_notification_service.py
  lambda/summary-notification/tests/fixtures/mocks/__init__.py
  lambda/summary-notification/tests/fixtures/mocks/mock_asset_repository.py
  lambda/summary-notification/tests/presentation/test_summary_notification_handler.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

feat(cdk): summary-notification Lambda と EventBridge ルールを追加
  lefthook.yml
  lib/dcp-ops-monitor-stack.ts
  package.json
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
Due: npx biome check, npm run test:cdk

docs: サマリ通知機能のドキュメントを追加
  README.md
  docs/functional-design.md
  docs/product-requirements.md
  lambda/summary-notification/README.md
Due: none

chore: 軽微な修正
  lambda/summary-notification/pyproject.toml
  lambda/summary-notification/src/handler.py
  lambda/summary-notification/tests/fixtures/mocks/mock_asset_repository.py
  lambda/summary-notification/tests/infrastructure/test_line_notifier.py
  lambda/summary-notification/tests/infrastructure/test_s3_asset_repository.py
  lambda/summary-notification/tests/presentation/test_summary_notification_handler.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

chore: ローカル実行できるようパッケージインストール
  lambda/summary-notification/pyproject.toml
  lambda/summary-notification/uv.lock
Due: none

improve(summary-notifications): ページネーションで全Object取得
  lambda/summary-notification/src/infrastructure/s3_asset_repository.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

Path conditions:
  npx biome check: any of: **/*.{ts,tsx}
  npm run test:cdk: any of: **/*.{ts,tsx}
  sh -c 'uvx ruff check --no-fix': any of: **/*.py
  sh -c 'uvx ruff format --check': any of: **/*.py
  sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1': any of: **/*.py
