Repository kamaD-y/dcp-ops-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: npx biome check, npm run test:cdk, sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["npx biome check", "npm run test:cdk"],
  "**/*.py": [
    "sh -c 'uvx ruff check --no-fix'",
    "sh -c 'uvx ruff format --check'",
    "sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'"
  ]
}

chore: 不要になった環境変数を削除
  .env.example
  .github/workflows/cd.yml
Due: none

chore: パラメータストア名をpropsに追加
  bin/dcp-ops-monitor.ts
  lib/dcp-ops-monitor-stack.ts
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
  test/cdk/dcp-ops-monitor-stack.test.ts
Due: npx biome check, npm run test:cdk

docs: パラメータストア変更に伴う修正
  README.md
Due: none

docs: README更新
  README.md
Due: none

docs: 構成図更新
  README.md
  docs/images/dcp-ops-monitor.drawio
  docs/images/dcp-ops-monitor.drawio.png
  docs/images/dcp-ops-monitor.png
Due: none

improve(dcp_notification): モジュール構成の改善
  lambda/dcp_notification/src/application/dcp_ops_app.py
  lambda/dcp_notification/src/application/notification.py
  lambda/dcp_notification/src/application/usecase.py
  lambda/dcp_notification/src/domain/factory.py
  lambda/dcp_notification/src/handler.py
  lambda/dcp_notification/src/infrastructure/notification/line_notification_impl.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(dcp_notificaion): フォルダ名修正
  README.md
  lambda/notification/.python-version
  lambda/notification/README.md
  lambda/notification/pyproject.toml
  lambda/notification/requirements.txt
  lambda/notification/src/application/notification.py
  lambda/notification/src/application/usecase.py
  lambda/notification/src/domain/factory.py
  lambda/notification/src/domain/interface.py
  lambda/notification/src/handler.py
  lambda/notification/src/infrastructure/aws/logs.py
  lambda/notification/src/infrastructure/notification/line_notification_impl.py
  lambda/notification/src/settings/settings.py
  lambda/notification/uv.lock
  lib/dcp-ops-monitor-stack.ts
Due: npx biome check, npm run test:cdk, sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

chore(notification): パッケージ名修正
  lambda/notification/pyproject.toml
  lambda/notification/uv.lock
Due: none

refactor(notification): 未使用のinitを削除
  lambda/notification/src/application/usecase.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(notification): 変数の使いまわしを見直し
  lambda/notification/src/application/usecase.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

chore: 環境変数サンプル修正
  .env.example
Due: none

improve(etl): 環境変数をlogin_urlからstart_urlへ修正
  .env.example
  .github/workflows/cd.yml
  README.md
  bin/dcp-ops-monitor.ts
  lambda/dcp_etl/src/settings/settings.py
  lambda/etl/src/domain/dcp_ops_domain.py
  lib/dcp-ops-monitor-stack.ts
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
  test/cdk/dcp-ops-monitor-stack.test.ts
Due: npx biome check, npm run test:cdk, sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

chore: 変数説明コメント微修正
  .env.example
Due: none

improve(etl): etl機能ディレクトリ名変更
  .github/workflows/ci.yml
  README.md
  docker-compose.yaml
  lambda/dcp_etl/README.md
  lambda/dcp_etl/src/domain/dcp_ops_domain.py
  lambda/etl/.python-version
  lambda/etl/Dockerfile
  lambda/etl/README.md
  lambda/etl/pyproject.toml
  lambda/etl/src/application/dcp_ops.py
  lambda/etl/src/domain/dcp_ops_domain.py
  lambda/etl/src/domain/dcp_value_object.py
  lambda/etl/src/domain/interface.py
  lambda/etl/src/handler.py
  lambda/etl/src/infrastructure/aws/s3.py
  lambda/etl/src/infrastructure/aws/sns.py
  lambda/etl/src/infrastructure/aws/ssm.py
  lambda/etl/src/infrastructure/scraping/dcp_scraping.py
  lambda/etl/src/settings/settings.py
  lambda/etl/tests/application/test_dcp_ops.py
  lambda/etl/tests/conftest.py
  lambda/etl/tests/domain/conftest.py
  lambda/etl/tests/domain/test_dcp_ops_domain.py
  lambda/etl/tests/domain/test_dcp_value_object.py
  lambda/etl/tests/fixtures/html/invalid_assets_page.html
  lambda/etl/tests/fixtures/html/valid_assets_page.html
  lambda/etl/tests/infrastructure/test_s3.py
  lambda/etl/tests/infrastructure/test_sns.py
  lambda/etl/tests/infrastructure/test_ssm.py
  lambda/etl/uv.lock
  lambda/notification/pyproject.toml
  lefthook.yml
  lib/dcp-ops-monitor-stack.ts
  package.json
Due: npx biome check, npm run test:cdk, sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

chore: 不要なlockファイル削除
  uv.lock
Due: none

improve(etl): application層ファイル名修正
  lambda/etl/src/application/etl.py
  lambda/etl/src/handler.py
  lambda/etl/tests/application/test_dcp_ops.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): extractorのリファクタリング
  lambda/etl/src/application/etl.py
  lambda/etl/src/domain/dcp_ops_domain.py
  lambda/etl/src/domain/dcp_value_object.py
  lambda/etl/src/domain/extraction.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): DocString修正
  lambda/etl/src/domain/interface.py
  lambda/etl/src/infrastructure/scraping/dcp_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

chore: mypy-type-checkerからtestsを除外
  .vscode/settings.sample.json
Due: none

test(etl): value_object修正に伴いテスト改修
  lambda/etl/tests/conftest.py
  lambda/etl/tests/domain/conftest.py
  lambda/etl/tests/domain/test_dcp_value_object.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

test(etl): parameter_storeの値修正に伴いテスト修正
  lambda/etl/tests/infrastructure/test_ssm.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

test(etl): テストがパスするよう修正
  lambda/etl/tests/application/test_dcp_ops.py
  lambda/etl/tests/conftest.py
  lambda/etl/tests/domain/conftest.py
  lambda/etl/tests/domain/test_dcp_ops_domain.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

test(etl): ScrapingParams値オブジェクトのエラーケースを追加
  lambda/etl/tests/conftest.py
  lambda/etl/tests/domain/test_dcp_value_object.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(etl): ExtractErrorの改善
  lambda/etl/src/domain/extraction.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): DocStringにRaises追加
  lambda/etl/src/infrastructure/scraping/dcp_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

test(etl): scraping_paramsにログインパラメータが渡された時のテストケース追加
  lambda/etl/tests/domain/test_dcp_value_object.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): 明示的に引数を渡すよう修正
  lambda/etl/src/domain/extraction.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): scraping_params呼び出し手順の見直し
  lambda/etl/src/domain/extraction.py
  lambda/etl/tests/domain/test_dcp_ops_domain.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(etl): transform層をファイル分離
  lambda/etl/src/application/etl.py
  lambda/etl/src/domain/dcp_ops_domain.py
  lambda/etl/src/domain/transform.py
  lambda/etl/tests/domain/test_dcp_ops_domain.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): DocString記述の旧クラス名を修正
  lambda/etl/src/domain/transform.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

test(etl): プライベートメソッドのテストを削除しパブリックメソッド側に移行
  lambda/etl/tests/domain/test_dcp_ops_domain.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(etl): notification層をファイル分離
  lambda/etl/src/application/etl.py
  lambda/etl/src/domain/notification.py
  lambda/etl/tests/application/test_dcp_ops.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

docs: 微修正
  README.md
Due: none

test(etl): テストカバレッジ追加
  .gitignore
  lambda/etl/pyproject.toml
  lambda/etl/uv.lock
  lefthook.yml
  package.json
Due: none

test(etl): covarageしきい値を設定
  lambda/etl/pyproject.toml
Due: none

refactor(etl): テストファイル名修正
  lambda/etl/tests/application/test_etl.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): 値オブジェクトファイル名の修正
  lambda/etl/src/domain/extraction.py
  lambda/etl/src/domain/transform.py
  lambda/etl/src/domain/value_object.py
  lambda/etl/tests/conftest.py
  lambda/etl/tests/domain/conftest.py
  lambda/etl/tests/domain/test_dcp_ops_domain.py
  lambda/etl/tests/domain/test_value_class.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(etl): scrapingファイル名の修正
  lambda/etl/src/domain/extraction.py
  lambda/etl/src/infrastructure/scraping/nrk_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

test(etl): infra層テスト構成の修正
  lambda/etl/tests/infrastructure/aws/test_s3.py
  lambda/etl/tests/infrastructure/aws/test_sns.py
  lambda/etl/tests/infrastructure/aws/test_ssm.py
  lambda/etl/tests/infrastructure/scraping/test_nrk_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

test(etl): テストファイル構成を実装ファイルに合わせて修正
  lambda/etl/tests/domain/test_dcp_ops_domain.py
  lambda/etl/tests/domain/test_extraction.py
  lambda/etl/tests/domain/test_transform.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'
