Repository kamaD-y/dcp-ops-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: npx biome check, npm run test:cdk, sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["npx biome check", "npm run test:cdk"],
  "**/*.py": [
    "sh -c 'uvx ruff check --no-fix'",
    "sh -c 'uvx ruff format --check'",
    "sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'"
  ]
}

chore: biomeの警告に対応
  lib/dcp-ops-monitor-stack.ts
Due: npx biome check, npm run test:cdk

chore: husky&lint-stagedをlefthookに切り替え
  .husky/pre-commit
  .lintstagedrc.json
  lefthook.yml
  package-lock.json
  package.json
Due: none

test: ファイル名typo修正
  lambda/dcp_etl/tests/domain/test_dcp_value_object.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

test: 正しい型に修正
  lambda/dcp_etl/tests/domain/conftest.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

chore: 各機能毎に依存関係を管理するよう変更
  README.md
  lambda/dcp_etl/pyproject.toml
  pyproject.toml
Due: none

refactor: ruff check実行
  lambda/dcp_etl/src/domain/dcp_ops_domain.py
  lambda/dcp_etl/src/handler.py
  lambda/dcp_etl/src/infrastructure/aws/s3.py
  lambda/dcp_etl/src/infrastructure/aws/sns.py
  lambda/dcp_etl/src/infrastructure/aws/ssm.py
  lambda/dcp_etl/src/infrastructure/scraping/dcp_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

docs: 曖昧な表現を修正
  README.md
Due: none

docs: README修正
  README.md
Due: none

chore: lefthook修正
  lefthook.yml
Due: none

docs: 改行コード修正
  README.md
Due: none

feat: dcp_notificaionプロジェクト追加
  lambda/dcp_notification/.python-version
  lambda/dcp_notification/README.md
  lambda/dcp_notification/pyproject.toml
  lambda/dcp_notification/src/handler.py
  lib/dcp-ops-monitor-stack.ts
Due: npx biome check, npm run test:cdk, sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve: アプリ名修正
  README.md
  cdk.json
  docs/images/dcp-ops-monitor.drawio
  docs/images/dcp-ops-monitor.png
  package-lock.json
  package.json
Due: none

feat(dcp_notification): dcp_notification実装
  .env.example
  bin/dcp-ops-monitor.ts
  lambda/dcp_notification/pyproject.toml
  lambda/dcp_notification/requirements.txt
  lambda/dcp_notification/src/application/dcp_ops_app.py
  lambda/dcp_notification/src/domain/factory.py
  lambda/dcp_notification/src/domain/interface.py
  lambda/dcp_notification/src/handler.py
  lambda/dcp_notification/src/infrastructure/line_notification.py
  lambda/dcp_notification/src/settings/settings.py
  lambda/dcp_notification/uv.lock
  lib/dcp-ops-monitor-stack.ts
Due: npx biome check, npm run test:cdk, sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve: 環境設定ファイル(.env)から環境変数をロード
  bin/dcp-ops-monitor.ts
  package-lock.json
  package.json
Due: npx biome check, npm run test:cdk

refactor: handlerにログ出力追加
  lambda/dcp_notification/src/handler.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve: FailureTopic, SuccessTopicに応じた分岐処理を追加
  lambda/dcp_notification/pyproject.toml
  lambda/dcp_notification/requirements.txt
  lambda/dcp_notification/src/application/dcp_ops_app.py
  lambda/dcp_notification/src/domain/factory.py
  lambda/dcp_notification/src/domain/usecase.py
  lambda/dcp_notification/src/infrastructure/aws/logs.py
  lambda/dcp_notification/src/infrastructure/notification/line_notification.py
  lambda/dcp_notification/uv.lock
  lib/dcp-ops-monitor-stack.ts
Due: npx biome check, npm run test:cdk, sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

chore: コメント修正
  .env.example
Due: none

improve: エラーハンドリング追加
  lambda/dcp_notification/src/infrastructure/aws/logs.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

test: スナップショット更新
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
  test/cdk/dcp-ops-monitor-stack.test.ts
Due: npx biome check, npm run test:cdk

chore: format適用
  cdk.json
Due: none

fix(dcp-etl): 不足ポリシー追加
  lib/dcp-ops-monitor-stack.ts
Due: npx biome check, npm run test:cdk

chore: リソース定義微修正
  lib/dcp-ops-monitor-stack.ts
Due: npx biome check, npm run test:cdk

improve(dcp-etl): ログイン完了を待つ
  lambda/dcp_etl/src/infrastructure/scraping/dcp_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

test: スナップショット更新
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
Due: none

chore: husky削除
  package-lock.json
  package.json
Due: none

docs: hook設定追記
  README.md
Due: none

improve(dcp_etl): scraping処理のエラーハンドリングを改善
  lambda/dcp_etl/src/infrastructure/scraping/dcp_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

fix(dcp_etl): Chromeドライババージョンを明示的に指定
  lambda/dcp_etl/Dockerfile
  lambda/dcp_etl/src/infrastructure/scraping/dcp_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

chore(dcp_etl): seleniumバージョン更新
  lambda/dcp_etl/pyproject.toml
  lambda/dcp_etl/uv.lock
Due: none

improve(dcp_etl): 自動操作が検知されないよう設定
  lambda/dcp_etl/src/infrastructure/scraping/dcp_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

fix(dcp_etl): 最新バージョンでは動作不良の為、動作確認済のバージョンで固定
  lambda/dcp_etl/Dockerfile
Due: none

improve(dcp_etl): スクレイピング抽象クラス追加
  lambda/dcp_etl/src/domain/interface.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(dcp_etl): スクレイピング処理をクラスに置き換え
  lambda/dcp_etl/src/domain/dcp_ops_domain.py
  lambda/dcp_etl/src/infrastructure/scraping/dcp_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

fix(dcp_etl): 抽象クラスの引数と返り値を修正
  lambda/dcp_etl/src/domain/interface.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(dcp_etl): ログアウトコードのリファクタ
  lambda/dcp_etl/src/infrastructure/scraping/dcp_scraping.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

improve(dcp_etl): ログインパラメータ名にPrefix(login_)を追加
  .env.example
  bin/dcp-ops-monitor.ts
  lambda/dcp_etl/src/domain/dcp_ops_domain.py
  lambda/dcp_etl/src/settings/settings.py
  lambda/dcp_etl/tests/domain/test_dcp_ops_domain.py
  lib/dcp-ops-monitor-stack.ts
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
  test/cdk/dcp-ops-monitor-stack.test.ts
Due: npx biome check, npm run test:cdk, sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'

refactor(dcp_etl): 環境変数名をlowerCamelCaseへ修正
  bin/dcp-ops-monitor.ts
  lib/dcp-ops-monitor-stack.ts
  test/cdk/dcp-ops-monitor-stack.test.ts
Due: npx biome check, npm run test:cdk

chore: CDワークフロー追加
  .github/workflows/cd.yml
Due: none

chore: 既存ParameterStore利用へ変更
  bin/dcp-ops-monitor.ts
  lib/dcp-ops-monitor-stack.ts
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
  test/cdk/dcp-ops-monitor-stack.test.ts
Due: npx biome check, npm run test:cdk

feat(dcp_etl): get-parameterの復号オプション有効化
  lambda/dcp_etl/src/infrastructure/aws/ssm.py
Due: sh -c 'uvx ruff check --no-fix', sh -c 'uvx ruff format --check', sh -c 'cd lambda/dcp_etl && ENV=test uv run pytest -v --tb=short --disable-warnings --maxfail=1'
