Repository kamaD-y/dcp-ops-monitor: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}

    test:cdk:
      glob:
        - "bin/*.{ts,js}"
        - "lib/*.{ts,js}"
        - "lambda/**/*.py"
      run: npm run test:cdk

    lint:lambda:
      glob: "lambda/**/*.py"
      run: uvx ruff check --no-fix

    format:lambda:
      glob: "lambda/**/*.py"
      run: uvx ruff format --check

    type-check:lambda:
      glob: "lambda/**/*.py"
      run: npm run type-check

    test:lambda:
      glob: "lambda/**/*.py"
      run: cd lambda/etl && ENV=test uv run pytest --cov -v --tb=short --disable-warnings --maxfail=1

improve: convert処理を移行
  lambda/web-scraping/src/application/__init__.py
  lambda/web-scraping/src/application/convert_service.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor: パス修正
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/dcp_assets.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor: 値オブジェクトをPydanticへ置き換え
  lambda/web-scraping/src/application/convert_service.py
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/domain/dcp_assets.py
  lambda/web-scraping/src/domain/dcp_ops_indicators.py
  lambda/web-scraping/src/domain/scraping_params.py
  lambda/web-scraping/src/infrastructure/line_notifier.py
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

fix: 通知文が円表記されるよう修正
  lambda/web-scraping/src/infrastructure/line_notifier.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor: パラメータストア取得値のキーの必須化
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

docs: 開発ドキュメント更新
  CLAUDE.md
  CONTRIBUTING.md
Due: none

chore: ログレベル環境変数名を修正
  .env.example
  .github/workflows/cd.yml
  CLAUDE.md
  docker-compose.yaml
Due: none

docs: 存在しないファイルを削除
  CLAUDE.md
Due: none

docs: コマンド修正
  CLAUDE.md
Due: none

chore: claude settings
  .claude/settings.json
  .gitignore
  .mcp.example.json
Due: check

test: 既存のinfra層テストを削除
  lambda/web-scraping/tests/infrastructure/aws/test_s3.py
  lambda/web-scraping/tests/infrastructure/aws/test_sns.py
  lambda/web-scraping/tests/infrastructure/aws/test_ssm.py
  lambda/web-scraping/tests/infrastructure/scraping/conftest.py
  lambda/web-scraping/tests/infrastructure/scraping/test_nrk_scraping.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

test: infra層のテスト追加
  lambda/web-scraping/tests/infrastructure/test_line_notifier.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

test: テスト用Mockオブジェクト追加
  lambda/web-scraping/src/infrastructure/line_notifier_mock.py
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper_mock.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: テスタブルにmain関数を修正
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

test: presentationテスト追加
  lambda/web-scraping/tests/presentation/test_dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

test: デフォルトHTMLをフォーマット
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper_mock.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

test: テスト用HTML読み込みをfixtureに修正
  lambda/web-scraping/tests/application/conftest.py
  lambda/web-scraping/tests/conftest.py
  lambda/web-scraping/tests/presentation/test_dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

test: Scraping用MockオブジェクトのデフォルトHTML削除
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper_mock.py
  lambda/web-scraping/tests/presentation/test_dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

chore: アーキテクチャ刷新前の不要ファイルを削除
  lambda/web-scraping/src/application/etl.py
  lambda/web-scraping/src/application/extraction.py
  lambda/web-scraping/src/application/notification.py
  lambda/web-scraping/src/application/transform.py
  lambda/web-scraping/src/domain/interface.py
  lambda/web-scraping/src/domain/value_object.py
  lambda/web-scraping/src/infrastructure/aws/s3.py
  lambda/web-scraping/src/infrastructure/aws/sns.py
  lambda/web-scraping/src/infrastructure/aws/ssm.py
  lambda/web-scraping/src/infrastructure/scraping/nrk_scraping.py
  lambda/web-scraping/tests/application/conftest.py
  lambda/web-scraping/tests/application/test_etl.py
  lambda/web-scraping/tests/application/test_transform.py
  lambda/web-scraping/tests/domain/test_value_class.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

test: 不要なfixture削除
  lambda/web-scraping/tests/conftest.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

test: mockオブジェクト移動
  lambda/web-scraping/tests/fixtures/mocks/__init__.py
  lambda/web-scraping/tests/fixtures/mocks/mock_line_notifier.py
  lambda/web-scraping/tests/fixtures/mocks/mock_selenium_dcp_scraper.py
  lambda/web-scraping/tests/presentation/test_dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: ログ出力見直し
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/infrastructure/line_notifier.py
  lambda/web-scraping/src/infrastructure/s3_repository.py
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor: S3Repositoryインターフェースを修正
  lambda/web-scraping/src/domain/s3_repository_interface.py
  lambda/web-scraping/src/infrastructure/s3_repository.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: エラー時のS3アップロード処理追加
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/exceptions.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
  lambda/web-scraping/tests/fixtures/mocks/mock_selenium_dcp_scraper.py
  lambda/web-scraping/tests/presentation/test_dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: S3アップロード失敗時の例外処理を追加
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/domain/exceptions.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
  lambda/web-scraping/tests/presentation/test_dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

fix: interfaceの記述ミス修正
  lambda/web-scraping/src/domain/dcp_scraper_interface.py
  lambda/web-scraping/src/domain/s3_repository_interface.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: S3アップロード先パス修正
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/tests/presentation/test_dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

chore: loggerにservice_name追加
  lib/dcp-ops-monitor-stack.ts
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
Due: check, test:cdk

chore: SubscriptionFilterによるエラー通知Lambda起動へ変更
  lambda/error-notification/src/handler.py
  lib/dcp-ops-monitor-stack.ts
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
Due: check, test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: エラーハンドリング整理
  lambda/web-scraping/src/handler.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

chore: パッケージ更新
  biome.jsonc
  package-lock.json
  package.json
Due: check

fix: テストscript修正
  package-lock.json
  package.json
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
Due: check

feat(error-notification): エラー通知用Lambda実装
  lambda/error-notification/pyproject.toml
  lambda/error-notification/requirements.txt
  lambda/error-notification/src/application/__init__.py
  lambda/error-notification/src/application/error_notification_service.py
  lambda/error-notification/src/application/message_formatter.py
  lambda/error-notification/src/application/notification.py
  lambda/error-notification/src/application/usecase.py
  lambda/error-notification/src/config/__init__.py
  lambda/error-notification/src/config/settings.py
  lambda/error-notification/src/domain/__init__.py
  lambda/error-notification/src/domain/cloudwatch_logs_parser_interface.py
  lambda/error-notification/src/domain/error_log_record.py
  lambda/error-notification/src/domain/exceptions.py
  lambda/error-notification/src/domain/factory.py
  lambda/error-notification/src/domain/interface.py
  lambda/error-notification/src/domain/line_message.py
  lambda/error-notification/src/domain/line_notifier_interface.py
  lambda/error-notification/src/domain/s3_client_interface.py
  lambda/error-notification/src/handler.py
  lambda/error-notification/src/infrastructure/__init__.py
  lambda/error-notification/src/infrastructure/aws/logs.py
  lambda/error-notification/src/infrastructure/cloudwatch_logs_parser.py
  lambda/error-notification/src/infrastructure/line_notifier.py
  lambda/error-notification/src/infrastructure/notification/line_notification_impl.py
  lambda/error-notification/src/infrastructure/s3_client.py
  lambda/error-notification/src/infrastructure/ssm_parameter.py
  lambda/error-notification/src/presentation/__init__.py
  lambda/error-notification/src/presentation/error_notification_handler.py
  lambda/error-notification/src/settings.py
  lambda/error-notification/uv.lock
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

feat(error-notification): CDK更新
  lib/dcp-ops-monitor-stack.ts
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
Due: check, test:cdk

chore: Lambdaテスト実行スクリプト修正
  .github/workflows/ci.yml
  lambda/error-notification/pyproject.toml
  lefthook.yml
  package.json
Due: check

chore: 実装と乖離した不要なコメントを削除
  lambda/error-notification/src/infrastructure/cloudwatch_logs_parser.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

chore: テスト実行コマンド修正
  .github/workflows/ci.yml
  lefthook.yml
Due: none

test(error-notification): cloudwatch_logs_parserモジュールのテスト追加
  lambda/error-notification/src/infrastructure/ssm_parameter.py
  lambda/error-notification/tests/conftest.py
  lambda/error-notification/tests/fixtures/__init__.py
  lambda/error-notification/tests/fixtures/cloudwatch_logs_events.py
  lambda/error-notification/tests/infrastructure/__init__.py
  lambda/error-notification/tests/infrastructure/test_cloudwatch_logs_parser.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

test(error-notification): error_log_recordモジュールのテスト追加
  lambda/error-notification/tests/domain/__init__.py
  lambda/error-notification/tests/domain/test_error_log_record.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

test(error-notification): presentationレイヤのテスト追加
  lambda/error-notification/tests/fixtures/mocks/__init__.py
  lambda/error-notification/tests/fixtures/mocks/mock_line_notifier.py
  lambda/error-notification/tests/presentation/__init__.py
  lambda/error-notification/tests/presentation/test_error_notification_handler.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda
