Repository kamaD-y/dcp-ops-monitor: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:cdk, lint:lambda, format:lambda, type-check:lambda, test:web-scraping, test:error-notification, test:summary-notification

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}

    test:cdk:
      glob:
        - "bin/*.{ts,js}"
        - "lib/*.{ts,js}"
        - "lambda/**/*.py"
      run: npm run test:cdk

    lint:lambda:
      glob: "lambda/**/*.py"
      run: uvx ruff check --no-fix

    format:lambda:
      glob: "lambda/**/*.py"
      run: uvx ruff format --check

    type-check:lambda:
      glob: "lambda/**/*.py"
      run: npm run type-check

    test:web-scraping:
      glob: "lambda/web-scraping/**/*.py"
      run: cd lambda/web-scraping && ENV=test uv run pytest --cov -v --tb=short --disable-warnings --maxfail=1

    test:error-notification:
      glob: "lambda/error-notification/**/*.py"
      run: cd lambda/error-notification && ENV=test uv run pytest --cov -v --tb=short --disable-warnings --maxfail=1

    test:summary-notification:
      glob: "lambda/summary-notification/**/*.py"
      run: cd lambda/summary-notification && ENV=test uv run pytest --cov -v --tb=short --disable-warnings --maxfail=1

refactor(summary-notification): アセット取得時の例外名を修正
  docs/functional-design.md
  lambda/summary-notification/src/application/summary_notification_service.py
  lambda/summary-notification/src/domain/__init__.py
  lambda/summary-notification/src/domain/asset_interface.py
  lambda/summary-notification/src/domain/exceptions.py
  lambda/summary-notification/src/infrastructure/google_sheet_asset_repository.py
  lambda/summary-notification/tests/application/test_summary_notification_service.py
  lambda/summary-notification/tests/fixtures/mocks/mock_asset_repository.py
  lambda/summary-notification/tests/presentation/test_summary_notification_handler.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:summary-notification

docs(web-scraping): ECR ライフサイクルポリシーの設定手順を追加
  lambda/web-scraping/README.md
Due: none

docs(web-scraping): ドキュメントを Google Spreadsheet 対応に更新
  lambda/web-scraping/README.md
Due: none

docs(summary-notification): ドキュメントを Google Spreadsheet 対応に更新
  lambda/summary-notification/README.md
Due: none

docs: ドキュメントの資産情報蓄積先を Google Spreadsheet に統一
  CLAUDE.md
  README.md
  lambda/web-scraping/README.md
Due: none

docs(summary-notification): セットアップ・テスト・アーキテクチャセクションを削除
  lambda/summary-notification/README.md
Due: none

docs(summary-notification): 通知内容を実装に合わせて修正しサンプルを追加
  lambda/summary-notification/README.md
Due: none

docs(summary-notification): サンプルメッセージの日付を平日のみに修正
  lambda/summary-notification/README.md
Due: none

refactor(web-scraping): scrapingParams修正
  lambda/web-scraping/src/domain/scraping_object.py
  lambda/web-scraping/src/infrastructure/selenium_scraper.py
  lambda/web-scraping/src/presentation/asset_collection_handler.py
  lambda/web-scraping/tests/fixtures/mocks/mock_selenium_scraper.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:web-scraping

refactor: AssetInfoの定義をsharedへ集約
  lambda/shared/src/shared/domain/asset_object.py
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/extraction_object.py
  lambda/web-scraping/tests/fixtures/mocks/mock_selenium_scraper.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:web-scraping

refactor(web-scraping): shared.domainからのインポートをsrc.domainとなるよう修正
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/handler.py
  lambda/web-scraping/src/infrastructure/google_sheet_asset_record_repository.py
  lambda/web-scraping/src/presentation/asset_collection_handler.py
  lambda/web-scraping/tests/domain/test_asset_record_object.py
  lambda/web-scraping/tests/fixtures/mocks/mock_asset_record_repository.py
  lambda/web-scraping/tests/presentation/test_asset_collection_handler.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:web-scraping

refactor: DcpAssetInfoをAssetEvaluationへリネーム
  lambda/shared/src/shared/domain/asset_object.py
  lambda/shared/src/shared/domain/asset_record_object.py
  lambda/summary-notification/src/application/indicators_calculator.py
  lambda/summary-notification/src/application/message_formatter.py
  lambda/summary-notification/src/domain/__init__.py
  lambda/summary-notification/src/domain/asset_object.py
  lambda/summary-notification/src/infrastructure/google_sheet_asset_repository.py
  lambda/summary-notification/tests/application/test_indicators_calculator.py
  lambda/summary-notification/tests/application/test_message_formatter.py
  lambda/summary-notification/tests/application/test_summary_notification_service.py
  lambda/summary-notification/tests/domain/test_asset_object.py
  lambda/summary-notification/tests/presentation/test_summary_notification_handler.py
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/scraping_interface.py
  lambda/web-scraping/src/infrastructure/selenium_scraper.py
  lambda/web-scraping/src/presentation/asset_collection_handler.py
  lambda/web-scraping/tests/domain/test_asset_record_object.py
  lambda/web-scraping/tests/fixtures/mocks/mock_selenium_scraper.py
  lambda/web-scraping/tests/presentation/test_asset_collection_handler.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:web-scraping, test:summary-notification

refactor(summary-notification): shared.domainからのインポートをsrc.domainとなるよう修正
  lambda/summary-notification/src/domain/asset_object.py
  lambda/summary-notification/src/infrastructure/google_sheet_asset_repository.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:summary-notification

refactor(web-scraping): shared.domainからのインポートをsrc.domainとなるよう修正
  lambda/web-scraping/src/domain/scraping_interface.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:web-scraping

refactor(summary-notification): 画像送信不要化に伴い通知オブジェクトをシンプルなstr型へ変更
  lambda/summary-notification/src/application/summary_notification_service.py
  lambda/summary-notification/src/domain/__init__.py
  lambda/summary-notification/src/domain/notification_interface.py
  lambda/summary-notification/src/domain/notification_object.py
  lambda/summary-notification/src/infrastructure/line_notifier.py
  lambda/summary-notification/tests/application/test_summary_notification_service.py
  lambda/summary-notification/tests/fixtures/mocks/mock_notifier.py
  lambda/summary-notification/tests/infrastructure/test_line_notifier.py
  lambda/summary-notification/tests/presentation/test_summary_notification_handler.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:summary-notification

refactor(summary-notification): 運用指標計算をdomain層へ移動
  lambda/summary-notification/src/application/__init__.py
  lambda/summary-notification/src/application/summary_notification_service.py
  lambda/summary-notification/src/domain/__init__.py
  lambda/summary-notification/src/domain/indicators_calculator.py
  lambda/summary-notification/tests/domain/test_indicators_calculator.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:summary-notification

refactor(summary-notification): datetimeをdateに変更
  lambda/summary-notification/src/domain/indicators_calculator.py
  lambda/summary-notification/tests/domain/test_indicators_calculator.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:summary-notification

refactor(summary-notification): AssetEvaluation.aggregate() を shared に追加
  lambda/shared/src/shared/domain/asset_object.py
  lambda/summary-notification/tests/domain/test_asset_object.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:summary-notification

refactor(summary-notification): DcpAssets を廃止し AssetEvaluation に集約
  lambda/summary-notification/src/application/summary_notification_service.py
  lambda/summary-notification/src/domain/__init__.py
  lambda/summary-notification/src/domain/asset_interface.py
  lambda/summary-notification/src/domain/asset_object.py
  lambda/summary-notification/src/infrastructure/google_sheet_asset_repository.py
  lambda/summary-notification/tests/application/test_summary_notification_service.py
  lambda/summary-notification/tests/domain/test_asset_object.py
  lambda/summary-notification/tests/fixtures/mocks/mock_asset_repository.py
  lambda/summary-notification/tests/presentation/test_summary_notification_handler.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:summary-notification

docs: DcpAssets 廃止に伴う functional-design.md の更新
  docs/functional-design.md
Due: none

test(summary-notification): Mockの呼び出し記録を追加
  lambda/summary-notification/tests/fixtures/mocks/mock_asset_repository.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:summary-notification

refactor(summary-notification): 運用指標ドメインオブジェクトの命名修正
  lambda/summary-notification/src/application/message_formatter.py
  lambda/summary-notification/src/domain/__init__.py
  lambda/summary-notification/src/domain/indicator_object.py
  lambda/summary-notification/src/domain/indicators_calculator.py
  lambda/summary-notification/tests/application/test_message_formatter.py
  lambda/summary-notification/tests/domain/test_indicator_object.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:summary-notification

docs: 全体概要、機能概要を最新化
  README.md
Due: none

docs(summary-notification): サンプルメッセージ修正
  lambda/summary-notification/README.md
Due: none

docs: CLAUDE.md最新化
  CLAUDE.md
Due: none

chore: zed導入
  .zed/settings.json
Due: check

chore: ARCHITECTURE.md作成と移行
  ARCHITECTURE.md
  CLAUDE.md
  README.md
  docs/functional-design.md
Due: none

chore: /initで更新
  CLAUDE.md
Due: none

docs: 価値の低い永続ドキュメントを削除
  ARCHITECTURE.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/functional-design.md
  docs/product-requirements.md
  lambda/summary-notification/README.md
  lambda/web-scraping/README.md
Due: none

docs: 開発ガイドラインをrulesへ移動
  .claude/rules/cdk.md
  .claude/rules/common.md
  .claude/rules/lambda.md
  CLAUDE.md
Due: none

docs: 不整合対応
  CLAUDE.md
Due: none

docs: 軽微な修正
  ARCHITECTURE.md
  CLAUDE.md
Due: none

chore: Ruff 設定をルートから lambda/pyproject.toml へ統合
  .vscode/settings.sample.json
  lambda/pyproject.toml
  lambda/summary-notification/pyproject.toml
  lambda/web-scraping/pyproject.toml
  lefthook.yml
  package.json
  pyproject.toml
Due: check

docs: steering-docs 移動
  CLAUDE.md
  docs/steering-docs/20260211-asset-accumulation-review/design.md
  docs/steering-docs/20260211-asset-accumulation-review/requirements.md
  docs/steering-docs/20260211-asset-accumulation-review/task-list.md
  docs/steering-docs/20260211-lambda-restructure/design.md
  docs/steering-docs/20260211-lambda-restructure/investigation.md
  docs/steering-docs/20260211-lambda-restructure/requirements.md
  docs/steering-docs/20260211-lambda-restructure/task-list.md
  docs/steering-docs/20260211-rename-domain-interface/design.md
  docs/steering-docs/20260211-rename-domain-interface/requirements.md
  docs/steering-docs/20260211-rename-domain-interface/task-list.md
  docs/steering-docs/20260213-summary-notification-spreadsheet/design.md
  docs/steering-docs/20260213-summary-notification-spreadsheet/requirements.md
  docs/steering-docs/20260213-summary-notification-spreadsheet/task-list.md
  docs/steering-docs/20260214-summary-notification-message-cleanup/design.md
  docs/steering-docs/20260214-summary-notification-message-cleanup/requirements.md
  docs/steering-docs/20260214-summary-notification-message-cleanup/task-list.md
  docs/steering-docs/20260223-docs-update/design.md
  docs/steering-docs/20260223-docs-update/requirements.md
  docs/steering-docs/20260223-docs-update/task-list.md
  docs/steering-docs/20260226-refactor-dcp-assets/design.md
  docs/steering-docs/20260226-refactor-dcp-assets/requirements.md
  docs/steering-docs/20260226-refactor-dcp-assets/task-list.md
Due: none

docs: claudeルール修正、不要ファイル削除
  .claude/rules/cdk.md
  .claude/rules/lambda.md
  .mcp.example.json
Due: check

chore: CIコマンド修正
  .github/workflows/ci.yml
Due: none

docs: 永続ドキュメントからdocs/配下を除外
  CLAUDE.md
Due: none

docs: 永続ドキュメント移動
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/CONTRIBUTING.md
  lambda/summary-notification/README.md
  lambda/web-scraping/README.md
Due: none

chore: 計画エージェント、スキル追加
  .claude/agents/planner.md
  .claude/skills/plan/SKILL.md
  CLAUDE.md
Due: none

chore: 実装エージェント追加
  .claude/agents/implementer.md
  .claude/agents/reviewer.md
  .claude/skills/implement/SKILL.md
Due: none
