Repository kamaD-y/dcp-ops-monitor: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

check:
  run: npx biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}

test:cdk:
  run: npm run test:cdk

lint:lambda:
  run: uvx ruff check --no-fix

format:lambda:
  run: uvx ruff format --check

type-check:lambda:
  run: npm run type-check

test:lambda:
  run: cd lambda/etl && ENV=test uv run pytest --cov -v --tb=short --disable-warnings --maxfail=1

refactor(web-scraping): ScrapingFailed を使用するよう各層を更新
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/handler.py
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

test(web-scraping): ScrapingFailed に対応してテストを更新
  lambda/web-scraping/tests/conftest.py
  lambda/web-scraping/tests/fixtures/mocks/mock_selenium_dcp_scraper.py
  lambda/web-scraping/tests/infrastructure/test_line_notifier.py
  lambda/web-scraping/tests/presentation/test_dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor(web-scraping): スクレイピングエラー時の分岐を整理
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/domain/interfaces/notifier_interface.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
  lambda/web-scraping/tests/fixtures/mocks/mock_selenium_dcp_scraper.py
  lambda/web-scraping/tests/presentation/test_dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor(web-scraping): IS3Repository を IObjectRepository にリネーム
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/interfaces/__init__.py
  lambda/web-scraping/src/domain/interfaces/object_repository_interface.py
  lambda/web-scraping/src/infrastructure/s3_object_repository.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor(web-scraping): AssetExtractionError を AssetExtractionFailed に置き換え
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/exceptions.py
  lambda/web-scraping/src/handler.py
  lambda/web-scraping/tests/presentation/test_dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

chore(web-scraping): 軽微な修正漏れ
  lambda/web-scraping/src/domain/interfaces/notifier_interface.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

fix(web-scraping): import文修正に伴うディレクトリ構造修正
  lambda/web-scraping/Dockerfile
Due: none

fix(web-scraping): import文修正
  lambda/web-scraping/src/application/convert_service.py
  lambda/web-scraping/src/application/message_formatter.py
  lambda/web-scraping/src/application/notification_service.py
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/handler.py
  lambda/web-scraping/src/infrastructure/s3_object_repository.py
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

feat(web-scraping): Stage 1 - IDcpExtractor インターフェース定義
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/interfaces/__init__.py
  lambda/web-scraping/src/domain/interfaces/dcp_extractor_interface.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

feat(web-scraping): Stage 2 - BeautifulSoupDcpExtractor 実装
  lambda/web-scraping/src/infrastructure/beautifulsoup_dcp_extractor.py
  lambda/web-scraping/tests/infrastructure/test_beautifulsoup_dcp_extractor.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor(web-scraping): Stage 3&4 - リファクタリングと依存性注入
  lambda/web-scraping/pyproject.toml
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/infrastructure/__init__.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor(web-scraping): Stage 5 - 品質改善とコード整理
  lambda/web-scraping/src/application/convert_service.py
  lambda/web-scraping/src/config/settings.py
  lambda/web-scraping/src/handler.py
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper.py
  lambda/web-scraping/tests/conftest.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor(web-scraping): アップロード失敗時のエラー処理修正
  lambda/web-scraping/src/application/web_scraping_service.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor(web-scraping): 到達不能なデッドコード削除
  lambda/web-scraping/src/application/convert_service.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

docs: READMEから特定の技術要素を削除
  README.md
  lambda/error-notification/README.md
  lambda/web-scraping/README.md
Due: none

chore: coderabbit設定ファイル追加
  .coderabbit.yaml
Due: none

chore: timeout値を調整
  .coderabbit.yaml
Due: none

chore: update node version
  .mise.toml
Due: none

chore: ClaudeCodeのコンテキスト整理
  .claude/settings.json
  CLAUDE.md
  README.md
  docs/architecture.md
  docs/dcp-ops-monitor.drawio.png
  docs/testing.md
  lambda/web-scraping/README.md
Due: check

chore: Copilot用のカスタム指示書を作成
  .github/copilot-instructions.md
Due: none

chore: coderabbit設定にパスベースの指示追加
  .coderabbit.yaml
Due: none

chore: デプロイ事前準備に関するコメント追記
  bin/dcp-ops-monitor.ts
Due: check, test:cdk

refactor(error-notification): リファクタ後のエラーログドメイン作成
  lambda/error-notification/src/domain/error_log_interface.py
  lambda/error-notification/src/domain/error_log_object.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

chore(error-notification): エラーログドメインのリファクタリング
  lambda/error-notification/src/application/error_notification_service.py
  lambda/error-notification/src/application/message_formatter.py
  lambda/error-notification/src/domain/__init__.py
  lambda/error-notification/src/domain/models/__init__.py
  lambda/error-notification/src/domain/models/error_log_record.py
  lambda/error-notification/src/domain/models/logs_event_data.py
  lambda/error-notification/src/infrastructure/cloudwatch_logs_adapter.py
  lambda/error-notification/src/presentation/error_notification_handler.py
  lambda/error-notification/tests/application/test_error_notification_service.py
  lambda/error-notification/tests/application/test_message_formatter.py
  lambda/error-notification/tests/domain/test_error_log_record.py
  lambda/error-notification/tests/infrastructure/test_cloudwatch_logs_adapter.py
  lambda/error-notification/tests/presentation/test_error_notification_handler.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor(error-notification): PR指摘事項の軽微な修正
  lambda/error-notification/src/application/error_notification_service.py
  lambda/error-notification/src/domain/error_log_object.py
  lambda/error-notification/src/infrastructure/cloudwatch_logs_adapter.py
  lambda/error-notification/tests/application/test_error_notification_service.py
  lambda/error-notification/tests/application/test_message_formatter.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

chore(error-notification): tests配下もRuffの対象へ変更
  lambda/error-notification/tests/application/test_error_notification_service.py
  lambda/error-notification/tests/application/test_message_formatter.py
  lambda/error-notification/tests/domain/test_error_log_record.py
  lambda/error-notification/tests/infrastructure/test_line_notifier.py
  lambda/error-notification/tests/infrastructure/test_s3_object_repository.py
  lambda/error-notification/tests/presentation/test_error_notification_handler.py
  pyproject.toml
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor(error-notification): timestampのバリデーション追加
  lambda/error-notification/src/domain/error_log_object.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor(error-notification): jst_timestamp算出をcomputed_fieldに変更
  lambda/error-notification/src/domain/error_log_object.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

test(error-notification): timestampのパーステスト追加
  lambda/error-notification/tests/domain/test_error_log_record.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

docs: 永続ドキュメント作成
  docs/development-guidelines.md
  docs/functional-design.md
  docs/product-requirements.md
Due: none

docs: CLAUDEメモリファイル更新
  CLAUDE.md
  docs/architecture.md
  docs/testing.md
Due: none

chore: mcpサンプル修正
  .mcp.example.json
Due: check

fix(web-scraping): importパス修正
  lambda/web-scraping/src/infrastructure/beautifulsoup_dcp_extractor.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor(error-notification): storageをドメイン知識ごとに整理
  lambda/error-notification/src/domain/__init__.py
  lambda/error-notification/src/domain/interfaces/__init__.py
  lambda/error-notification/src/domain/models/__init__.py
  lambda/error-notification/src/domain/storage_interface.py
  lambda/error-notification/src/domain/storage_object.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor(error-notification): notificationをドメイン知識単位に整理
  lambda/error-notification/src/domain/__init__.py
  lambda/error-notification/src/domain/interfaces/__init__.py
  lambda/error-notification/src/domain/models/__init__.py
  lambda/error-notification/src/domain/notification_interface.py
  lambda/error-notification/src/domain/notification_object.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor(web-scraping): domainをドメイン知識単位に整理
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/extraction_interface.py
  lambda/web-scraping/src/domain/extraction_object.py
  lambda/web-scraping/src/domain/interfaces/__init__.py
  lambda/web-scraping/src/domain/models/__init__.py
  lambda/web-scraping/src/domain/models/dcp_ops_indicators.py
  lambda/web-scraping/src/domain/notification_interface.py
  lambda/web-scraping/src/domain/notification_object.py
  lambda/web-scraping/src/domain/scraping_interface.py
  lambda/web-scraping/src/domain/scraping_object.py
  lambda/web-scraping/src/domain/storage_interface.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

docs: domain層の構造をドメイン知識単位に更新
  docs/functional-design.md
Due: none

fix(web-scraping): マイナス記号の変換追加
  lambda/web-scraping/src/domain/extraction_object.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor(web-scraping): ScrapingFailed に screenshot_path / html_source 属性を追加
  lambda/web-scraping/src/domain/exceptions.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor(web-scraping): Scraper に抽出責務を統合し Extractor 依存を除去
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/domain/scraping_interface.py
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
  lambda/web-scraping/tests/fixtures/mocks/mock_selenium_dcp_scraper.py
  lambda/web-scraping/tests/presentation/test_dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test:cdk: any of: bin/*.{ts,js}, lib/*.{ts,js}, lambda/**/*.py
  lint:lambda: any of: lambda/**/*.py
  format:lambda: any of: lambda/**/*.py
  type-check:lambda: any of: lambda/**/*.py
  test:lambda: any of: lambda/**/*.py
