Repository kamaD-y/dcp-ops-monitor: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}

    test:cdk:
      glob: "*.{ts,js,py}"
      include:
        - "bin/**/*"
        - "lib/**/*"
        - "lambda/**/*"
      run: npm run test:cdk

    lint:lambda:
      glob: "lambda/**/*.py"
      run: uvx ruff check --no-fix

    format:lambda:
      glob: "lambda/**/*.py"
      run: uvx ruff format --check

    type-check:lambda:
      glob: "lambda/**/*.py"
      run: npm run type-check

    test:lambda:
      glob: "lambda/**/*.py"
      run: cd lambda/etl && ENV=test uv run pytest --cov -v --tb=short --disable-warnings --maxfail=1

docs: docker-composeを使用した動作テスト用コメント修正
  README.md
Due: none

docs: REAME更新
  README.md
Due: none

amazonqディレクトリ削除
  .amazonq/mcp.example.json
  .gitignore
Due: check

docs: README更新
  README.md
Due: none

docs: REAMDME更新
  README.md
Due: none

docs: 構成図更新
  docs/images/dcp-ops-monitor.drawio.png
Due: none

chore: mise導入
  .mise.toml
  README.md
Due: none

chore: ci/cd yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix: 値オブジェクトに適切に型が当たっていない問題を修正
  lambda/etl/src/domain/value_object.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

chore: 型チェックからattributeチェックを除外
  lambda/etl/src/infrastructure/scraping/nrk_scraping.py
  lambda/etl/tests/infrastructure/scraping/test_nrk_scraping.py
  package.json
Due: check, test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

fix: インターフェース修正
  lambda/etl/src/domain/interface.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

chore: バッジ追加
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  README.md
Due: none

chore: globパターン修正
  lefthook.yml
Due: none

chore: mypy関連の削除
  biome.jsonc
  lambda/etl/pyproject.toml
  lambda/etl/uv.lock
  lambda/notification/pyproject.toml
  pyproject.toml
Due: check

chore: ty拡張機能を追加
  .vscode/extensions.json
  .vscode/settings.sample.json
Due: check

docs: アーキテクチャ刷新
  docs/images/dcp-ops-monitor.drawio.png
Due: none

docs: シーケンス図刷新
  README.md
Due: none

docs: ドキュメントの分離
  CLAUDE.md
  CONTRIBUTING.md
  README.md
Due: none

improve: アーキテクチャ刷新で不要になったリソースを削除
  lib/dcp-ops-monitor-stack.ts
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
Due: check, test:cdk

chore: lambda/etlのパスをlambda/web-scrapingへ修正
  .github/workflows/ci.yml
  CLAUDE.md
  docker-compose.yaml
  lambda/etl/uv.lock
  lambda/web-scraping/.python-version
  lambda/web-scraping/Dockerfile
  lambda/web-scraping/README.md
  lambda/web-scraping/pyproject.toml
  lambda/web-scraping/src/application/etl.py
  lambda/web-scraping/src/application/extraction.py
  lambda/web-scraping/src/application/notification.py
  lambda/web-scraping/src/application/transform.py
  lambda/web-scraping/src/domain/interface.py
  lambda/web-scraping/src/domain/value_object.py
  lambda/web-scraping/src/handler.py
  lambda/web-scraping/src/infrastructure/aws/s3.py
  lambda/web-scraping/src/infrastructure/aws/sns.py
  lambda/web-scraping/src/infrastructure/aws/ssm.py
  lambda/web-scraping/src/infrastructure/scraping/nrk_scraping.py
  lambda/web-scraping/src/settings.py
  lambda/web-scraping/tests/application/conftest.py
  lambda/web-scraping/tests/application/test_etl.py
  lambda/web-scraping/tests/application/test_transform.py
  lambda/web-scraping/tests/conftest.py
  lambda/web-scraping/tests/domain/test_value_class.py
  lambda/web-scraping/tests/fixtures/html/invalid_assets_page.html
  lambda/web-scraping/tests/fixtures/html/valid_assets_page.html
  lambda/web-scraping/tests/infrastructure/aws/test_s3.py
  lambda/web-scraping/tests/infrastructure/aws/test_sns.py
  lambda/web-scraping/tests/infrastructure/aws/test_ssm.py
  lambda/web-scraping/tests/infrastructure/scraping/conftest.py
  lambda/web-scraping/tests/infrastructure/scraping/test_nrk_scraping.py
  lambda/web-scraping/uv.lock
  lefthook.yml
  lib/dcp-ops-monitor-stack.ts
  package.json
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
Due: check, test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

chore: lambda/notificationのパスをlambda/error-notificationへ修正
  CLAUDE.md
  lambda/error-notification/.python-version
  lambda/error-notification/README.md
  lambda/error-notification/pyproject.toml
  lambda/error-notification/requirements.txt
  lambda/error-notification/src/application/notification.py
  lambda/error-notification/src/application/usecase.py
  lambda/error-notification/src/domain/factory.py
  lambda/error-notification/src/domain/interface.py
  lambda/error-notification/src/handler.py
  lambda/error-notification/src/infrastructure/aws/logs.py
  lambda/error-notification/src/infrastructure/notification/line_notification_impl.py
  lambda/error-notification/src/settings.py
  lambda/error-notification/uv.lock
  lambda/notification/uv.lock
  lib/dcp-ops-monitor-stack.ts
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
Due: check, test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

refactor: settingsファイル移動
  lambda/web-scraping/src/application/extraction.py
  lambda/web-scraping/src/application/notification.py
  lambda/web-scraping/src/application/transform.py
  lambda/web-scraping/src/config/settings.py
  lambda/web-scraping/src/domain/value_object.py
  lambda/web-scraping/src/handler.py
  lambda/web-scraping/src/infrastructure/aws/s3.py
  lambda/web-scraping/src/infrastructure/aws/sns.py
  lambda/web-scraping/src/infrastructure/aws/ssm.py
  lambda/web-scraping/src/infrastructure/scraping/nrk_scraping.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: Seleniumスクレイパークラスを見直し
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/dcp_scraper_interface.py
  lambda/web-scraping/src/domain/login_params.py
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: S3リポジトリ追加
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/s3_repository_interface.py
  lambda/web-scraping/src/infrastructure/s3_repository.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: LINE通知クラス追加
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/notifier_interface.py
  lambda/web-scraping/src/infrastructure/line_notifier.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: スクレイピングエラー時のスクリーンショット取得フロー修正
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/dcp_scraper_interface.py
  lambda/web-scraping/src/infrastructure/__init__.py
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: ssmパラメータ取得追加
  lambda/web-scraping/pyproject.toml
  lambda/web-scraping/src/infrastructure/__init__.py
  lambda/web-scraping/src/infrastructure/ssm_parameter.py
  lambda/web-scraping/uv.lock
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: リアーキテクチャ後の仮実装
  lambda/web-scraping/src/application/__init__.py
  lambda/web-scraping/src/application/notification_service.py
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/handler.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: LINEトークン用パラメータ追加
  bin/dcp-ops-monitor.ts
  lib/dcp-ops-monitor-stack.ts
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
  test/cdk/dcp-ops-monitor-stack.test.ts
Due: check, test:cdk

improve: 循環参照の為不要なインポート削除
  lambda/web-scraping/src/domain/value_object.py
  lambda/web-scraping/tests/domain/test_value_class.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: LINEトークン用パラメータストアに必要な改修
  .env.example
  lambda/web-scraping/src/config/settings.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
  localstack/ready.sh
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: パラメータストア取得をboto3使用に変更
  lambda/web-scraping/src/infrastructure/ssm_parameter.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

improve: 環境変数見直し
  .env.example
  .gitignore
  docker-compose.yaml
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/config/settings.py
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/dcp_scraper_interface.py
  lambda/web-scraping/src/domain/login_params.py
  lambda/web-scraping/src/domain/scraping_params.py
  lambda/web-scraping/src/infrastructure/__init__.py
  lambda/web-scraping/src/infrastructure/s3_repository.py
  lambda/web-scraping/src/infrastructure/selenium_dcp_scraper.py
  lambda/web-scraping/src/infrastructure/ssm_parameter.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
  localstack/ready.sh
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda

docs: 開発ドキュメント修正
  CONTRIBUTING.md
Due: none

chore: 不要な環境変数を削除
  .github/workflows/cd.yml
Due: none

test: テストが通るよう環境変数を追加
  lambda/web-scraping/pyproject.toml
Due: none

fix: 環境変数整理に合わせて修正
  bin/dcp-ops-monitor.ts
  lambda/web-scraping/pyproject.toml
  lib/dcp-ops-monitor-stack.ts
  test/cdk/__snapshots__/dcp-ops-monitor-stack.test.ts.snap
  test/cdk/dcp-ops-monitor-stack.test.ts
Due: check, test:cdk

chore: .env.test不要化に伴う修正
  .env.example
  CONTRIBUTING.md
Due: none

improve: 資産評価オブジェクトを刷新
  lambda/web-scraping/src/application/notification_service.py
  lambda/web-scraping/src/application/web_scraping_service.py
  lambda/web-scraping/src/domain/__init__.py
  lambda/web-scraping/src/domain/dcp_asset_valuation.py
  lambda/web-scraping/src/domain/dcp_ops_indicators.py
  lambda/web-scraping/src/domain/notifier_interface.py
  lambda/web-scraping/src/infrastructure/line_notifier.py
  lambda/web-scraping/src/presentation/dcp_ops_notification.py
Due: test:cdk, lint:lambda, format:lambda, type-check:lambda, test:lambda
